<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <img src="assets/icon-128.png" />
    </div>
    <mat-card-title>Bilingual Subtitles</mat-card-title>
    <mat-card-subtitle>bojnansky.com</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Watch YouTub* and learn language with bilingual subtitles.
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-button
      color="primary"
      href="https://www.youtube.com/embed/zrUr_r61Tn0"
      target="_blank"
      ><mat-icon>help_center</mat-icon>Watch Tutorial</a
    >
    <a
      mat-button
      href="http://bojnansky.com/bilingual-subtitles-issue-report/"
      target="_blank"
      ><mat-icon>bug_report</mat-icon>Report Problem</a
    >
  </mat-card-actions>
</mat-card>
