.mat-card {
  margin: 0;
  width: 22rem;
  box-shadow: none;

  img {
    max-width: 100%;
  }

  .mat-card-title {
    font-weight: bold;
  }

  .mat-card-content {
    margin: 1rem 0;
  }

  .mat-icon {
    margin-right: 0.6rem;
  }
}
